absl-py==1.3.0
alabaster==0.7.12
amc2moodle==2.10.1
ansible==6.7.0
ansible-core==2.13.7
appdirs==1.4.4
apptools==5.1.0
apturl==0.5.2
argon2-cffi==21.1.0
asgiref==3.5.0
astunparse==1.6.3
attrs==21.2.0
autobahn==21.11.1
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
base58==1.0.3
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
biopython==1.79
bleach==4.1.0
blinker==1.4
Bottleneck==1.3.2
brial==1.0.2
Brlapi==0.8.3
Brotli==1.0.9
cachetools==5.2.0
caffeine==2.9.8
catfish==4.16.3
cbor==1.0.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
cupshelpers==1.0
cutadapt==3.5
cycler==0.11.0
cypari2==2.1.2
Cython==0.29.28
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.4
distro==1.7.0
distro-info===1.1build1
Django==3.2.12
dnaio==0.7.1
docutils==0.17.1
download==0.3.5
ecdsa==0.18.0b1
entrypoints==0.4
envisage==6.0.1
et-xmlfile==1.0.1
ewmh==0.1.6
filelock==3.6.0
Flask==2.0.1
flatbuffers==22.12.6
fonttools==4.29.1
fpylll==0.5.2.dev0
fs==2.4.12
future==0.18.2
gast==0.4.0
GDAL==3.4.1
gmpy2==2.1.2
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h5py==3.7.0
html5lib==1.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
igraph==0.9.9
imagesize==1.3.0
importlib-metadata==4.6.4
incremental==21.3.0
iniconfig==1.1.1
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==2.1.0
jdcal==1.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
kazam==1.4.5
keras==2.11.0
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==14.0.6
lightdm-gtk-greeter-settings==1.2.2
line-profiler==2.1
llvmlite==0.38.0
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
MACS2==2.2.7.1
Markdown @ git+https://github.com/Python-Markdown/markdown.git@4a7b9352d677ae89d4dc89c243148dafac130957
MarkupPy==1.14
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mayavi==4.7.1
md-mermaid==0.1.1
meld==3.20.4
memory-allocator==0.1.2
memory-profiler==0.52.0
menulibre==2.2.2
mercurial==6.1.1
mnemonic==0.19
mock==4.0.3
more-itertools==8.10.0
mpi4py==3.1.3
mpmath==0.0.0
msgpack==1.0.3
mugshot==0.4.3
mutagen==1.45.1
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
netifaces==0.11.0
networkx==2.4
notebook==6.4.8
ntlm-auth==1.4.0
numba==0.55.1
Numberjack==1.2.0
numexpr==2.8.1
numpy==1.21.5
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
onboard==1.4.1
openpyxl==3.0.9
opt-einsum==3.3.0
OWSLib==0.25.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.1
passlib==1.7.4
pbr==5.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pkgconfig==1.5.5
plasTeX==3.0
platformdirs==2.5.1
plotly==5.4.0
pluggy==0.13.0
ply==3.11
pplpy==0.8.7
primecountpy==0.1.0
prometheus-client==0.9.0
prompt-toolkit==3.0.28
protobuf==3.12.4
psutil==5.9.0
psycopg2==2.9.2
ptyprocess==0.7.0
py==1.10.0
py-ubjson==0.16.1
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycountry==22.3.5
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pyface==7.4.0
pyfastaq==3.17.0
pygame==2.1.2
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
pyinotify==0.9.6
PyJWT==2.3.0
pykerberos==1.1.14
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypng==0.0.20
pyproj==3.3.0
PyQRCode==1.2.1
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
pyRFC3339==1.1
pyrsistent==0.18.1
pysam==0.17.0
pytest==6.2.5
python-apt==2.4.0
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-snappy==0.5.3
python-xapp==2.2.1
python-xlib==0.29
pythran==0.10.0
PyTrie==0.4.0
pytz==2022.1
pywinrm==0.3.0
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
QScintilla==2.11.6
QtPy==2.0.0
reportlab==3.6.8
requests==2.25.1
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
resolvelib==0.8.1
roman==3.3
rpy2==3.4.5
rsa==4.9
sagemath-standard==9.5
sagenb-export==3.2
scipy==1.9.3
scour==0.38.2
SecretStorage==3.3.1
Send2Trash==1.8.1b0
service-identity==18.1.0
setproctitle==1.2.2
sgt-launcher==0.2.7
simplejson==3.17.6
six==1.16.0
sniffles==2.0.2
snowballstemmer==2.2.0
sortedcontainers==2.1.0
soundconverter==4.0.3
soupsieve==2.3.1
Sphinx==4.3.2
sqlparse==0.4.2
ssh-import-id==5.11
sympy==1.9
systemd-python==234
tables==3.7.0
tablib==3.2.0
tabulate==0.9.0
tenacity==6.3.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
terminado==0.13.1
testpath==0.5.0
texttable==1.6.4
toml==0.10.2
tornado==6.1
tox==3.21.4
tqdm==4.64.1
traitlets==5.1.1
traits==6.3.2
traitsui==7.2.1
Twisted==22.1.0
txaio==21.2.1
typing_extensions==4.4.0
tzlocal==2.1
u-msgpack-python==2.3.0
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.1.0
unattended-upgrades==0.1
unicodedata2==14.0.0
Unidecode==1.3.6
urllib3==1.26.5
virtualenv==20.13.0+ds
wadllib==1.3.6
Wand==0.6.10
wbdata==0.3.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.2
widgetsnbextension==2.0.0
wrapt==1.14.1
wsaccel==0.6.3
xcffib==0.11.1
xdg==5
xkit==0.0.0
xlrd==1.2.0
xlwt==1.3.0
xmltodict==0.12.0
xopen==1.2.1
yt-dlp==2022.4.8
zipp==1.0.0
zope.interface==5.4.0
