#top {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(137, 226, 211);color : rgb(0, 0, 0);
}

#mid {
    background-color: rgb(255, 255, 255);color : rgb(0, 0, 0);
}

#bot {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(137, 226, 211);
}

table, th, td {
    border: 1px solid;
}

body{background-color: rgb(255, 255, 255);padding-top: 70px;
}

.BREP {
    border-radius: 25px; 
    background: #2cb809; 
    padding: 20px; 
    width: 200px; 
    height: 150px; 
    margin: 10px;
}

.MREP {
    border-radius: 25px; 
    background: #d80b0b; 
    padding: 20px; 
    width: 200px; 
    height: 150px; 
    margin: 10px
}
