#top {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(137, 226, 182);color : rgb(2, 2, 128);
}

#mid {
    background-color: rgb(2, 2, 128);
    color : white;
}

#bot {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(137, 226, 182);
}

table, th, td {
    border: 1px solid;
  }
