<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="static/main.css">
  <link rel="stylesheet" href="static/log-reg.css">
  <script></script>
  <title>QuizTio</title>
  <script></script>
</head>
<body>
    
    <div class="nom">QuizTio</div>
    <ul class="menu">
        <li>
            Invité
            <ul class="sousMenu">
                <li><a href="/">Accueil</a></li>
                <li><a href="login">Se connecter</a></li>
                <li><a href="register">S'enregistrer</a></li>
            </ul>
        </li>
    </ul>

<div class="log_reg"><br>
    <form action = "" method = "post">
        <h1>Id question</h1>
        <div class="entree">
            <label for="idquest">Entrez votre nom d'utilisateur : </label><br>
            <input type="text" name="idquest" minlength="8" maxlength="8" placeholder="id question" required><br>
            <input type="submit" placeholder="ok"/>
        </div>
    </form>
</div>
</body>
</html>