<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="static/main.css">
  <link rel="stylesheet" href="static/log-reg.css">
  <script></script>
  <title>QuizTio</title>
  <script>
    function redirect_Seq(){
        sequence=document.getElementById("idquest").value
        location.replace("/afficheSequence/"+sequence)
    }

  </script>
</head>
<body>
    
    <div class="nom">QuizTio</div>
    <ul class="menu">
        <li>
            {{Username}}
            <ul class="sousMenu">
                <li><a href="/">Accueil</a></li>
                <li><a href="profil">Profil</a></li>
                <li><a href="deco">Se déconnecter</a></li>
            </ul>
        </li>
    </ul>

<div class="log_reg"><br>
    <form action = "" method = "post">
        <h1>Questionnaire</h1>
        <div class="entree">
            <label for="idquest">Entrez un identifiant de qu'un professeur a partagé : </label><br>
            <input type="text" id="idquest" name="idquest" minlength="8" maxlength="8" placeholder="Identifiant" required><br>
            <input type="button" value="ok" onclick="redirect_Seq()"/>
        </div>
    </form>
</div>
</body>
</html>