<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="static/main.css">
  <script></script>
  <title>QuizTio</title>
  <script></script>
</head>
<body>
  <div class="nom">QuizTio</div>
  <ul class="menu">
      <li>
          Invité
          <ul class="sousMenu">
              <li><a href="/">Accueil</a></li>
              <li><a href="login">Se connecter</a></li>
              <li><a href="register">S'enregistrer</a></li>
          </ul>
      </li>
  </ul>
<div id="mid"><br><span>Bienvenue sur notre site !</span><br>
  <span>Ce site vous permettra de créer des questions à choix multiples et de générer des feuilles d'exercices à partir de celles-ci.</span><br>
  <span>vous pouvez gratuitement créer une compte <a href="register">ici</a> ou vous connecter <a href="login">ici</a>.</span></span><br><br></div>
  
<!--
<div id="bot">
<a href="./">Acceuil</a>
<a href="register">S'enregistrer</a>
<a href="login">Se connecter</a>
<a href="creationQuestion">Créer une question</a>
<a href="BDD">Liste de vos questions</a>
<a href="creationFeuille">Créer une feuille d'exercices</a>
</div>-->
</body>

</html>
