<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../css/main.css">
  <script></script>
  <title>Commande</title>
  <script></script>
</head>
<body>
<div id="top">Createur de question en ligne</div>
<div id="mid"><br>Bienvenue sur notre site<br>Ce site vous permettra de creer des questions à choix multiples et de générer des feuilles d'exercices à partir de celles-ci<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
<div id="bot">
<a href="./">Acceuil</a>
<a href="register">S'enregistrer</a>
<a href="login">Se connecter</a>
<a href="creationQuestion">Créer une question</a>
<a href="BDD">Liste de vos questions</a>
<a href="creerfeuille">Créer une feuille d'exercices</a>
</div>
</body>

</html>
