<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="static/main.css">
  <script></script>
  <title>Commande</title>
  <script></script>
</head>
<body>
  <div class="nom">NomDuSite</div>
  <ul class="menu">
    <li>
      Invité
      <ul class="sousMenu">
        <li><a href="/">Accueil</a></li>
        <li><a href="BDD">Liste de vos questions</a></li>
        <li><a href="creationQuestion">Créer une question</a></li>
        <li><a href="CreationFeuille">Créer une feuille d'exercices</a></li>
      </ul>
    </li>
  </ul>
<div id="mid"><br>Bienvenue {{Username}} !<br></div>
<div id="bot">
<a href="./">Acceuil</a>
<a href="register">S'enregistrer</a>
<a href="login">Se connecter</a>
<a href="creationQuestion">Créer une question</a>
<a href="BDD">Liste de vos questions</a>
<a href="creationFeuille">Créer une feuille d'exercices</a>
</div>
</body>

</html>
