<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="static/main.css" />
		<link rel="stylesheet" href="static/tableaux.css" />
		<script src="../static/mermaid.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/atom-one-dark.min.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"></script>
		<script src="../static/load-mathjax.js" async></script>
		<script>hljs.initHighlightingOnLoad()
		  window.addEventListener('load',() =>{
			let codeBlock=document.getElementsByTagName('code');
			for(let i in codeBlock)
			{
			  hljs.highlightBlock(codeBlock[i]);
			}
		   });
		 </script>
		<title>Commande</title>
		<script>
			function filtrage_par_eti(etiquette_filtre) {
				//changer onclick button
				document.getElementById(etiquette_filtre + "-bouton").style =
					"background-color : blue";
				document.getElementById(etiquette_filtre + "-bouton").activer =
					"oui";
				document
					.getElementById(etiquette_filtre + "-bouton")
					.setAttribute(
						"onclick",
						'javascript: deactiver_filtrage("' +
							etiquette_filtre +
							'");'
					);
				var elements = document.getElementsByClassName("eti");
				for (var i = 0; i < elements.length; i++) {
					li_eti = elements[i].innerHTML.replace(/[^a-zA-Z0-9; ]/g, '').split("; ");
					if (!li_eti.includes(etiquette_filtre)) {
						elements[i].parentElement.setAttribute("hidden", true);
					}
				}
			}
			function deactiver_filtrage(etiquette_filtre) {
				document.getElementById(etiquette_filtre + "-bouton").style =
					"background-color : white";
				document.getElementById(etiquette_filtre + "-bouton").activer =
					"non";
				document
					.getElementById(etiquette_filtre + "-bouton")
					.setAttribute(
						"onclick",
						'javascript: filtrage_par_eti("' +
							etiquette_filtre +
							'");'
					);
				var eti_exercices = document.getElementsByClassName("eti");
				for (var j = 0; j < eti_exercices.length; j++) {
					eti_exercices[j].parentElement.removeAttribute("hidden");
				}
				var elements = document.getElementsByClassName("bouton");
				for (var i = 0; i < elements.length; i++) {
					//console.log(elements[i].activer)
					if (elements[i].activer == "oui") {
						eti = elements[i].id.split("-")[0]; //si bouton activer
						//console.log("etiquette a filtre :"+eti);
						var eti_exercices =
							document.getElementsByClassName("eti");
						for (var j = 0; j < eti_exercices.length; j++) {
							li_eti = eti_exercices[j].innerHTML.replace(/[^a-zA-Z0-9; ]/g, '').split("; ");
							//console.log(li_eti);
							if (!li_eti.includes(eti)) {
								eti_exercices[j].parentElement.setAttribute(
									"hidden",
									true
								);
							}
						}
					}
				}
			}

			function bouton_filtrage() {
				//on fait la liste de toutes les etiquettes existantes et on fait les boutons de filtrage
				li_eti_total = [];
				var dict = {}; //on creer un objet qui sert de dictionnaire

				var elements = document.getElementsByClassName("eti");
				console.log(elements);
				for (var i = 0; i < elements.length; i++) {
					li_eti = elements[i].innerHTML.replace(/[^a-zA-Z0-9; ]/g, '').split("; ");
					console.log(li_eti);
					for (var j = 0; j < li_eti.length; j++) {
						console.log(!li_eti_total.includes(li_eti[j]));
						if (
							!li_eti_total.includes(li_eti[j]) &&
							li_eti[j] != ""
						) {
							i;

							li_eti_total.push(li_eti[j]);
							dict[li_eti[j]] = 1;
						} else {
							dict[li_eti[j]] = dict[li_eti[j]] + 1;
						}
					}
				}
				console.log(li_eti_total);
				for (var i = 0; i < li_eti_total.length; i++) {
				console.log(li_eti_total[i]);
					document.getElementById("boutons_de_filtrage").innerHTML =
						document.getElementById("boutons_de_filtrage")
							.innerHTML +
						'<button class="bouton" id="' +
						li_eti_total[i] +
						'-bouton" activer="non" onclick=filtrage_par_eti("' +
						li_eti_total[i] +
						'") value=' +
						li_eti_total[i] +
						"(" +
						dict[li_eti_total[i]] +
						') style="background-color : white" activer="non" >' +
						li_eti_total[i] +
						"(" +
						dict[li_eti_total[i]] +
						")</button>";
				}
			}
		</script>
	</head>
	<body onload="bouton_filtrage()">
		<div id="top">Createur de question en ligne</div>
		<div id="mid">
			<div id="boutons_de_filtrage"></div>
			<table class="tableau_css">
				<thead>
					<tr>
						<th>ID</th><th>Etiquettes</th>
						<th>Enoncé</th>
						<th>Reponses Possibles</th>
						<th>Bonnes reponses</th><th>Visualiser</th><th>Modifier</th><th>Suprimer</th>
					</tr>
				</thead>
				{% for dico in li_dictionnaire: %}
				<tr>
					<td class="id_tableau">{{dico["ID"]}}</td>
					
					<td class="eti">
						{% for eti in dico["ET"]: %}{%if not loop.last%}{{eti+"; "}}{%else%}{{eti}}{%endif%}{%endfor%}
					</td><td class="enonce_tableau">{{dico["Question"]| safe}}</td><td class="rep_tableau">{% for rep in dico["REP"]: %}{%if not loop.last%}{{rep+"; "}}{%else%}{{rep}}{%endif%}{%endfor%}</td>
					<td class="brep_tableau">{% for rep in dico["BREP"]: %}{%if not loop.last%}{{rep+"; "}}{%else%}{{rep}}{%endif%}{%endfor%}</td>
					<td class="visu_tableau"><a href="question/{{dico["ID"]}}"><img src="/static/visu.png"></a></td>
					<td class="modif_tableau"><a href="modificationQuestion/{{dico["ID"]}}"><img src="/static/modif.png"></td>
					<td class="supp_tableau"><a href="supprimer/{{dico["ID"]}}"><img src="/static/supp.png"></td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div id="bot">
			<a href="./">Acceuil</a>
			<a href="register">S'enregistrer</a>
			<a href="login">Se connecter</a>
			<a href="creationQuestion">Creer une question</a>
			<a href="BDD">Liste de vos questions</a>
			<a href="creerfeuille">Creer une feuille d'exercice</a>
		</div>
	</body>
</html>
