<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../css/main.css">
  <script></script>
  <title>Commande</title>
  <script></script>
</head>
<body>
<div id="top">Createur de question en ligne</div>
<div id="mid">
    {% for dico in li_dictionnaire: %}
    <tr><td>{{ele[0]}}</td><td>{{ele[1]}}</td><td>{{ele[2]}}</td><td>{{ele[3]}}</td></tr>
{% endfor %}


</div>
<div id="bot">
<a href="./">Acceuil</a>
<a href="register">S'enregistrer</a>
<a href="register">Se connecter</a>
<a href="login">Se connecter</a>
<a href="creationQuestion">Creer une question</a>
<a href="BDD">Liste de vos questions</a>
<a href="register">Se connecter</a>
<a href="creerfeuille">Creer une feuille d'exercice</a>
</div>
</body>

</html>