<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="static/main.css">
  <link rel="stylesheet" href="static/log-reg.css">
  <script></script>
  <title>QuizTio</title>
</head>
<body>
    
    <div class="nom">QuizTio</div>
    <ul class="menu">
        <li>
            {{Username}}
            <ul class="sousMenu">
                <li><a href="/">Accueil</a></li>
                <li><a href="profil">Profil</a></li>
                <li><a href="deco">Se déconnecter</a></li>
            </ul>
        </li>
    </ul>
    <div class="log_reg"><br>
        <form action = "" method = "post">
            <h1>changement de mot de passe</h1>
            <div class="entree">
                <label>entre ton ancien mot de passe: </label><br>
                <input type="password" name="ancienMdp" minlength="1" placeholder="ancien mot de passe" required><br>
                {% if erreur1 == True: %}
                    <div class="erreurLog">Mot de passe incorrect</div>
                {%endif%}
                <label>entre ton nouveau mot de passe: </label><br>
                <input type="password" name="newMdp1" id="MDP" minlength="1" placeholder="mot de passe" required><br>
                <input type="password" name="newMdp2" id="MDP2" minlength="1" placeholder="une deuxième fois" required><br>
                {% if erreur2 == True: %}
                <div class="erreurLog">Les deux mots de passe ne correspondent pas</div>
                {%endif%}
                <input type="submit" value="ok" />
            </div>
        </form>
    </div>
</body>
