<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="static/main.css">
  <link rel="stylesheet" href="static/log-reg.css">
  <script></script>
  <title>QuizTio</title>
  <script>
    function checkNewMdp(){
        if (document.getElementById("MDP").value != document.getElementById("MDP2").value){
            document.getElementById("labelError").innerHTML="Les deux mots de passe doivent être les même";
            return false;
        }

    }
  </script>
</head>
<body>
    
    <div class="nom">QuizTio</div>
    <ul class="menu">
        <li>
            {{Username}}
            <ul class="sousMenu">
                <li><a href="/">Accueil</a></li>
                <li><a href="profil">Profil</a></li>
                <li><a href="deco">Se déconnecter</a></li>
            </ul>
        </li>
    </ul>
    <div class="log_reg"><br>
        <form action = "" method = "post">
            <h1>changement de mot de passe</h1>
            <div class="entree">
                <label>entre ton nouveau mot de passe: </label><br>
                <input type="password" name="newMdp" id="MDP" minlength="1" placeholder="mot de passe" required><br>
                <input type="password" name="newMdp" id="MDP2" minlength="1" placeholder="une deuxième fois" required><br>
                <label id="labelError" style="color:red"></label><br><br>
                <input type="submit" value="ok" onclick='return checkNewMdp();' />
            </div>
        </form>
    </div>
</body>
