<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="static/main.css"><link rel="stylesheet" href="static/creationQuestion.css">
  <script></script>
  <title>QuizTio</title>
  <script type="text/javascript">
  var rep_li = [];
  
  function ajout_rep(){
    //on ajoute une reponse, pour cela, on recupere la nouvelle reponse et on l'ajoute a la liste de reponse rep_li
    txt =document.getElementById('nrep').value
    //console.log(txt);
    document.getElementById("btnsubmit").removeAttribute("hidden");
    

    rep_li.push(txt);
    //console.log(rep_li)
    document.getElementById('li_rep_possibles').value=""+rep_li.join(";");
    //console.log(rep_li.join(";"));
    //on rajoute la nouvelle reponse au champs html qui sera renvoyer au serveur
    num = 0
    document.getElementById('rep_possibles').innerHTML ="";
    //puis on recreer les span ou sont afficher les reponses
    for(element in rep_li){
        document.getElementById('rep_possibles').innerHTML = document.getElementById("rep_possibles").innerHTML + 
        ' <span id = "rep_en_cours" style="border-radius: 25px; background: #d80b0b; padding: 6px; min-width: 10%; min-height: 25px; margin: 6px;display: inline-block;"> <input type="checkbox" id="'+num +'" name="'+num +'" onclick=changerCouleurRep(this)><span id="spanInte">'+rep_li[element].replace(/\n/g, "<BR>")+'</span><input type="button" name="suprep" id="suprep" onclick="supp_rep('+num+')" value="Supprimer !" style="display: block; margin-left: auto; margin-right: 0;"> </span>';
        num=num+1;
    }
    document.getElementById('nb_rep_possibles').value=num;
  }
  function supp_rep(n){
    //pour supprimer une reponse, on prends en entrer le numero de la reponse que l'on veut supprimer
    rep_li.splice(n,n);
    //on supprime la reponse dans rep_li puis on recreer les span ou sont affiché les reponses
    num = 0;
    document.getElementById('li_rep_possibles').value=""+rep_li.join(";");
    document.getElementById('rep_possibles').innerHTML ="";
    for(element in rep_li){
        document.getElementById('rep_possibles').innerHTML = document.getElementById("rep_possibles").innerHTML + 
        ' <span id = "rep_en_cours" style="border-radius: 25px; background: #d80b0b; padding: 6px; min-width: 10%; min-height: 25px; margin: 6px;display: inline-block;"> <input type="checkbox" id="'+num +'" name="'+num +'" onclick=changerCouleurRep(this)><span id="spanInte">'+rep_li[element].replace(/\n/g, "<BR>")+'</span><input type="button" name="suprep" id="suprep" onclick="supp_rep('+num+')" value="Supprimer !" style="display: block; margin-left: auto; margin-right: 0;"> </span>';
        num=num+1;
    }
    document.getElementById('nb_rep_possibles').value=num;
  }
  
  
    function visualisation_iframe() {
    //pour visualiser la question que l'on est en train de creer, on change 
    //la cible et l'action du formulaire, on soumet le formulaire au serveur
    //puis on remet la cible et l'action d'origine
    var form = document.getElementById("formulaire");
    form.target = 'iframe_visu';
    form.action = './visuIFrame';
    document.getElementById("iframe_visu").removeAttribute("hidden");
    form.submit();
    form.target = "";
    form.action = "";
}
function changerCouleurRep(ele){
    //changer couleur est appeler quand on click sur la case a cocher qui permet d'indiquer si une reponse ou juste ou non
    //si la case est coche, la reponse est juste, on l'affiche alors en vert
    if(ele.checked == true){
        ele.parentElement.style="border-radius: 25px; background: #29c003; padding: 6px; min-width: 10%; min-height: 25px; margin: 6px;display: inline-block;"
    }
    else{//sinon la reponse est fausse, alors on l'affiche en rouge
        ele.parentElement.style="border-radius: 25px; background: #d80b0b; padding: 6px; min-width: 10%; min-height: 25px; margin: 6px;display: inline-block;"
    }


    
}
  </script>
</head>
<body>
    <div class="nom">QuizTio</div>
    <ul class="menu">
        <li>
            Invité
            <ul class="sousMenu">
                <li><a href="/">Accueil</a></li>
                <li><a href="BDD">Liste de vos questions</a></li>
                <li><a href="creationQuestion">Créer une question</a></li>
                <li><a href="creationFeuille">Créer une feuille d'exercices</a></li>
            </ul>
        </li>
    </ul>
<div id="exercice"><br>
    <form id="formulaire" action="" method="post">
    <div class="entree">
        <label for="enonce">Entrez l'énoncé de votre question : (vous pouvez aussi écrire en LaTeX ou en Markdown !)</label><br>
        <textarea name="enonce" id="enonce" required></textarea>
    </div>
    
    <div class="entree">
        <label for="etiquettes">Entrez la/les étiquettes de votre question (séparées par des ";" s'il y en a plusieurs) : </label><br>
        <input type="text" name="etiquettes" id="etiquettes">
    </div>

    
    <div class="entree">
        <label for="nouvelle_rep">Entrez une réponse et cliquez sur ajouter : </label><br>
        <textarea name="nrep" id="nrep"></textarea>
        <textarea name="li_rep_possibles" id="li_rep_possibles" hidden></textarea><br>
        <input type="number" name="nb_rep_possibles" id="nb_rep_possibles" hidden>
        <input type="button" name="ajoutrep" id="ajoutrep" onclick="ajout_rep()" value="Ajouter !"> <br>
        <label>Cochez la/les bonnes reponses !</label>
    </div>
    <div id = "rep_possibles">
    </div><br>
    <input type="submit" name="btnsubmit" id="btnsubmit" value ="Ajouter la question !" hidden>
    <input type="button" name="visu" id="visu" value ="Visualiser l'enonce de la question !" onclick="visualisation_iframe()">
    <iframe name="iframe_visu" src="" id="iframe_visu" width="750" height="600" style="position: fixed;
    top: 100px;
    right: 150px;" hidden></iframe>
</form><br><br></div>
<div id="bot">
<a href="./">Acceuil</a>
<a href="./register">S'enregistrer</a>
<a href="./login">Se connecter</a>
<a href="./creationQuestion">Creer une question</a>
<a href="./BDD">Liste de vos questions</a>
<a href="./creationFeuille">Creer une feuille d'exercice</a>
</div>
</body>

</html>