<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="static/main.css" />
		<link rel="stylesheet" href="static/tableaux.css" />
		<script src="../static/mermaid.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/atom-one-dark.min.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"></script>
		<script src="../static/load-mathjax.js" async></script>
		<script>hljs.initHighlightingOnLoad()
		  window.addEventListener('load',() =>{
			let codeBlock=document.getElementsByTagName('code');
			for(let i in codeBlock)
			{
			  hljs.highlightBlock(codeBlock[i]);
			}
		   });
		 </script>
		<title>QuizTio</title>
		<script>

			var li_etiquettes = [];
			var li_nb = [];
			elements="{% for eti in li_eti: %}{%if not loop.last%}{{eti+"; "}}{%else%}{{eti}}{%endif%}{%endfor%}"

			function load_eti(){
				li_eti = elements.replace(/[^a-zA-Z0-9; ]/g, '').split("; ");

				for (var i = 0; i < li_eti.length; i++) {
					if(li_etiquettes.includes(li_eti[i])){
						index = li_etiquettes.indexOf(li_eti[i]);
						li_nb[index]+=1;
					}
					else{
						li_nb.push(1);
						li_etiquettes.push(li_eti[i]);
					}
				}
				console.log("liste etiquettes : ", li_etiquettes);
				console.log("liste des occurences : ", li_nb);

				for (var i = 0; i < li_etiquettes.length; i++) {
					document.getElementById("etiquettes").innerHTML = document.getElementById("etiquettes").innerHTML +
						'<input type="number" class="li_min" name="li_min" placeholder="min" min="0" max="'+ li_nb[i] +'" value="0" style="background-color : white" ></input>'+
						'<input type="number" class="li_max" name="li_max" placeholder="max" min="0" max="'+ li_nb[i] +'" value="0" style="background-color : white" >' +li_etiquettes[i] +"(" +li_nb[i] +" questions max)</input><br>";
				}
			}

			function binomial(n, k) { 
   				var coeff = 1;
    			for (var x = n-k+1; x <= n; x++) {coeff *= x;}
    			for (x = 1; x <= k; x++){
					coeff /= x;
				}
    		return coeff;
			}

			function send(){
				erreur=false;
				var li_min = [];
				var li_max = [];
				var min = 0;
				var max = 0;
				var valeur = 1;
				li_mini = document.getElementsByClassName("li_min");
				li_maxi = document.getElementsByClassName("li_max");
				for (elements of li_mini){
					li_min.push(elements.value);
					min = min + parseInt(elements.value);
				}
				for (elements of li_maxi){
					li_max.push(elements.value);
					max = max + parseInt(elements.value);
				}
				for(var i=0; i<li_max.length; i++){
					if (li_max[i]<li_min[i]){
						erreur=true;
						console.log("un min > max");
					}
				}
				for(var i=0; i<li_min.length;i++){
					valeur*=binomial(li_nb[i], li_max[i]);
				}
				valeur*=binomial(max, document.getElementById("nb_q").value);
				console.log(valeur);
				if(valeur<document.getElementById("nb_sujet").value){
					erreur=true
					console.log("binomial");
				}
				if(document.getElementById("nb_q").value< min || document.getElementById("nb_q").value>max){
					console.log("nb_q : ", document.getElementById("nb_q").value, "min : ", min, "max : ", max);
					erreur=true
					console.log("nb_q pas atteignable avec min et max");
				}

				if(erreur==false){
					document.getElementById("send").innerHTML = document.getElementById("send").innerHTML +
					//document.getElementById("nb_q") +
					'<input type="number" id="nb_q" name="nb_q" min="0" value="'+document.getElementById("nb_q").value+'"></input>' +
					//document.getElementById("nb_sujet") +
					'<input type="number" id="nb_sujet" name="nb_sujet" min="0" value="'+document.getElementById("nb_sujet").value+'"></input>' +
					//document.getElementById("ano") +
					
					'<input type="checkbox" id="ano" name="ano" '+(document.getElementById("ano").checked ? 'checked' : '')+'></input>' +
					//document.getElementById("shuffle") +
					'<input type="checkbox" id="shuffle" name="shuffle" '+(document.getElementById("shuffle").checked ? 'checked' : '')+'></input>' +
					'<input type="text" id="li_min" name="li_min" value="'+ li_min +'"</input>' +
					'<input type="text" id="li_max" name="li_max" value="'+ li_max +'"</input>' +
					'<input type="text" id="li_nb" name="li_nb" value="'+ li_nb +'"</input>' +
					'<input type="text" id="li_eti" name="li_eti" value="'+ li_etiquettes +'"</input>';

					//if(document.getElementById("ano").checked){document.getElementById("send").innerHTML = document.getElementById("send").innerHTML + '<input type="checkbox" id="ano" name="ano" checked'></input>'}else{}

					console.log(document.getElementById("nb_q"))
					
					console.log(document.getElementById("send"))
					console.log(document.getElementById("send").innerHTML)
					document.getElementById("send").submit()
				};

			}
		</script>
	</head>
	<body onload="load_eti()">
		<div class="nom">QuizTio</div>
		<ul class="menu">
			<li>
				{{Username}}
				<ul class="sousMenu">
					<li><a href="/">Accueil</a></li>
					<li><a href="profil">Profil</a></li>
					<li><a href="BDD">Liste de vos questions</a></li>
					<li><a href="creationQuestion">Créer une question</a></li>
					<li><a href="creationFeuille">Créer une feuille d'exercices</a></li>
					<li><a href="creationSequence">Créer une séquence</a></li>
					<li><a href="deco">Se déconnecter</a></li>
				</ul>
			</li>
		</ul>
		<div id="mid">
			<div id="etiquettes"></div>
			<div id="eti"></div><br>
				<!--form -> getelementbyid form.submit (faux bouton pour traitement avant post)-->
				<input type="number" id="nb_q" name="nb_q" min="0">Nombre de questions par sujet</input><br>
				<input type="number" id="nb_sujet" name="nb_sujet" min="0">Nombre de sujets (1 sujet par élève)</input><br>
				<input type="checkbox" id="ano" name="ano">Contrôle anonyme ?</input><br>
				<input type="checkbox" id="shuffle" name="shuffle">Questions dans l'ordre par etiquettes ou mélangées ?</input><br>
				<button onclick="send()">Valider</button><br>
				<form id="send" method="POST" action=""></form><br>
		</div>
	</body>
</html>
