<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="static/main.css">
  <link rel="stylesheet" href="static/log-reg.css" />
  <script></script>
  <title>QuizTio</title>
  <script></script>
</head>
<body>
    
    <div class="nom">QuizTio</div>
    <ul class="menu">
        <li>
            Invité
            <ul class="sousMenu">
                <li><a href="/">Accueil</a></li>
                <li><a href="login">Se connecter</a></li>
                <li><a href="register">S'enregistrer</a></li>
            </ul>
        </li>
    </ul>

<div class="log_reg"><br>
    <form action = "" method = "post">
        <h1>Se connecter</h1>
        {% if erreur == True: %}
        <div class="erreurLog">Nom d'utilisateur ou mot de passe incorrect</div>
        {%endif%}
        <div class="entree">
            <label for="idUser">Entrez votre nom d'utilisateur : </label><br>
            <input type="text" name="idUser" minlength="2" placeholder="Nom d'utilisateur" required>
        </div>
        <div class="entree">
            <label for="name">Entrez votre mot de passe : </label><br>
            <input type="password" name="password" minlength="2" placeholder="Mot de passe" required>
        </div>
        <div class="entree">
            <label>Professeur </label>
            <input type="checkbox" id="boiteetu" />
			<label for="boiteetu" aria-describedby="label"><span class="boite"></span></label>
            <label>Eleve</label>
        </div><br>
        <input type = "submit" value = "Valider" />
        <br>
        <label>Vous n'êtes pas membre ? Créez un compte <a href="register">ici</a>.</label>
    </form>
</div><!--

[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 75px;
		cursor: pointer;
	}

.log_reg form .entree input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    margin-top: 5px;
    margin-bottom: 20px;
    outline: none;
}

<div id="bot">
<a href="/">Acceuil</a>
<a href="register">S'enregistrer</a>
<a href="login">Se connecter</a>
<a href="creationQuestion">Créer une question</a>
<a href="BDD">Liste de vos questions</a>
<a href="creationFeuille">Créer une feuille d'exercices</a>
</div>-->
</body>

</html>
