<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="static/main.css">
  <script></script>
  <title>Commande</title>
  <script></script>
</head>
<body>
    <div class="nom">NomDuSite</div>
    <div class="menuDeco"> </div>

<div id="mid"><br>
    {% if erreur == True: %}
    <div style="color: darkred; padding: 20px;">Nom d'utilisateur ou mot de passe incorrect</div>
    {%endif%}
    <form action = "" method = "post">
        <div class="entree">
            <label for="idUser">Entrez votre nom d'utilisateur : </label>
            <input type="text" name="idUser" minlength="2" placeholder="Nom d'utilisateur" required>
        </div>
        <div class="entree">
            <label for="name">Entrez votre mot de passe : </label>
            <input type="password" name="password" minlength="2" placeholder="Mot de passe" required>
        </div>
        <input type = "submit" value = "Valider" />

    </form>
</div>
<div id="bot">
<a href="/">Acceuil</a>
<a href="register">S'enregistrer</a>
<a href="login">Se connecter</a>
<a href="creationQuestion">Créer une question</a>
<a href="BDD">Liste de vos questions</a>
<a href="creerfeuille">Créer une feuille d'exercices</a>
</div>
</body>

</html>
