<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="static/main.css">
  <script></script>
  <title>QuizTio</title>
  <script></script>
</head>
<body>
  <div class="nom">QuizTio</div>
  <ul class="menu">
    <li>
      {{Username}}
      <ul class="sousMenu">
        <li><a href="/">Accueil</a></li>
        <li><a href="profil">Profil</a></li>
        <li><a href="BDD">Liste de vos questions</a></li>
        <li><a href="creationQuestion">Créer une question</a></li>
        <li><a href="creationFeuille">Créer une feuille d'exercices</a></li>
        <li><a href="creationSequence">Créer une séquence</a></li>
        <li><a href="deco">Se déconnecter</a></li>
      </ul>
    </li>
  </ul>
<div id="mid">
    <br>
    <form action="import_eleve" method="post" enctype="multipart/form-data">
        <label for="fichier">Entrez un fichier csv avec les identifiants de vos élèves :</label>
        <input id="fichier" name="fichier" type="file" accept=".csv,text/csv"  required><br>
        <input type = "submit" value = "Valider" />
    </form>
    <br>
    <form>
      <label>Liste des Séquences :</label><br>
      {%for seq in liste%}
      <span><a href="../afficheSequence/{{seq[0]}}">afficher la sequence</a>{{seq[0]}}</span><br>
    {%endfor%}
    </form>
</div>

<!--
<div id="bot">
<a href="./">Acceuil</a>
<a href="register">S'enregistrer</a>
<a href="login">Se connecter</a>
<a href="creationQuestion">Créer une question</a>
<a href="BDD">Liste de vos questions</a>
<a href="creationFeuille">Créer une feuille d'exercices</a>
</div>-->
</body>

</html>