<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../static/main.css">
  <title>Question</title>
  <script>
    function get_responses(){
    li_bonne_rep = document.getElementById("numero_load").innerHTML.split(",");
    for (element in li_bonne_rep){
        li_bonne_rep[element] = li_bonne_rep[element].replace(/\D/g,'');
    }
    return li_bonne_rep;
    }

  </script>
</head>
<body>
<div id="top">Créateur de question en ligne</div>
<div id="mid">
  <tr>
    <td class="eti">
      {% for eti in dictionnaire["ET"]: %}{{eti+" "}}{%endfor%}
    </td><br>
    <td>{{dictionnaire["Question"]}}</td><br>

    <td>{% for rep in dictionnaire["REP"]: %}
          {%if rep in dictionnaire["BREP"]%}
            <h4 style="color:rgba(30, 255, 0, 0.651);">{{rep+" "}}</h4> <!---Inline CSS sur une balise-->
          {% else %}
            <h4 style="color:rgba(255, 0, 0, 0.664);">{{rep+" "}}</h4>
          {%endif%}
        {%endfor%}</td><br>
  </tr>
</div>
<div id="bot">
<a href="../">Acceuil</a>
<a href="../register">S'enregistrer</a>
<a href="../login">Se connecter</a>
<a href="../creationQuestion">Créer une question</a>
<a href="../BDD">Liste de vos questions</a>
<a href="../creerfeuille">Créer une feuille d'exercices</a>
</div>
</body>

</html>