<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../static/main.css">
  <title>QuizTio</title>
  <script>
    function get_responses(){
    li_bonne_rep = document.getElementById("numero_load").innerHTML.split(",");
    for (element in li_bonne_rep){
        li_bonne_rep[element] = li_bonne_rep[element].replace(/\D/g,'');
    }
    return li_bonne_rep;
    }

  </script>
    <script src="../static/mermaid.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/atom-one-dark.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"></script>
    <script src="../static/load-mathjax.js" async></script>
    <script>hljs.initHighlightingOnLoad()
      window.addEventListener('load',() =>{
        let codeBlock=document.getElementsByTagName('code');
        for(let i in codeBlock)
        {
          hljs.highlightBlock(codeBlock[i]);
        }
       });
     </script>
</head>
<body>
  <div class="nom">QuizTio</div>
  <ul class="menu">
    <li>
      Invité
      <ul class="sousMenu">
        <li><a href="../">Accueil</a></li>
        <li><a href="../BDD">Liste de vos questions</a></li>
        <li><a href="../creationQuestion">Créer une question</a></li>
        <li><a href="../creationFeuille">Créer une feuille d'exercices</a></li>
      </ul>
    </li>
  </ul>
<div id="mid">
  <tr>
    <td class="eti">
      {% for eti in dictionnaire["ET"]: %}{{eti+" "}}{%endfor%}
    </td><br><br>
    <td>{{dictionnaire["Question"]| safe}}</td><br><br><br><br>
    <td>{% for rep in dictionnaire["REP"]: %}
          {%if rep in dictionnaire["BREP"]%}
            <span class='BREP'>{{rep| safe}}</span>  
          {% else %}
            <span class='MREP'>{{rep| safe}}</span> 
          {%endif%}
        {%endfor%}</td><br>
        
        
  </tr>

</div>
<div id="bot">
<a href="../">Acceuil</a>
<a href="../register">S'enregistrer</a>
<a href="../login">Se connecter</a>
<a href="../creationQuestion">Créer une question</a>
<a href="../BDD">Liste de vos questions</a>
<a href="../creationFeuille">Créer une feuille d'exercices</a>
</div>
</body>

</html>