<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/question.css" />
    <script src="../static/mermaid.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/atom-one-dark.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"></script>
    <script src="../static/load-mathjax.js" async></script>
    <title>QuizTio</title>
    <script src="../../static/socket.io.min.js"></script>
    <script>
        const socket=io();
        //socket.connect('http://'+document.domain+':'+location.port);
        id_seq='{{id_seq|safe}}'
        id_q='{{dictionnaire["ID"]|safe}}'
        rep_direct_var=false;
        rep_bloquer=false;
        nb_rep_totale=0;
        liste_rep_eleve=[];

        socket.on('nouvelle_q', (question) =>{
            console.log(question.question["Question"])
            console.log(Object.keys(question))
            id_q=question.question["ID"]
            document.getElementById("enonce").innerHTML=question.question["Question"]
            document.getElementById("champs_reponses").innerHTML = ""
            nb_rep_totale = 0;
            i = 0;
            rep_bloquer=false;
            liste_rep_eleve=[];
            for (element of question.question["REP"]){
                liste_rep_eleve.push(0);
                
                document.getElementById("champs_reponses").innerHTML = document.getElementById("champs_reponses").innerHTML +
                    "<span id='rep_num_"+i+"' class='REP' style='display: inline-block;'>"+element+"</span>"
                    
                if(question.question["BREP"].includes(element)){
                    document.getElementById("champs_reponses").innerHTML = document.getElementById("champs_reponses").innerHTML +
                    "<div id='rep_num_"+i+"' class='BREP' hidden='true' style='display: none;'>"+element+"</div><br>"
                }
                else{
                    document.getElementById("champs_reponses").innerHTML = document.getElementById("champs_reponses").innerHTML +
                    "<div id='rep_num_"+i+"' class='MREP' hidden='true' style='display: none;'>"+element+"</div><br>"
                }
                i++;
            }
            
            
            console.log(question)
            console.log('ok')
        });
        socket.on('rep', (data) =>{
            console.log(data)
            if(! rep_bloquer){
            nb_rep_totale = nb_rep_totale+1;
            reponse = data["reponse"];
            for (element of reponse){
                if(element<liste_rep_eleve.length)
                liste_rep_eleve[parseInt(element)]=liste_rep_eleve[parseInt(element)]+1
            }
            console.log(liste_rep_eleve)
            if(rep_direct_var){
                for (element in liste_rep_eleve){
                    document.getElementById("rep_num_"+element).style.width=liste_rep_eleve[element]/nb_rep_totale+"%";
                }
            }
        
        
        
        
        
        }



        });

        socket.on('fin_seq', (question) =>{
            console.log("seq fini")
            alert("La Sequence est terminer !");
            
        });
        socket.on('nouveau_eleve', (question) =>{
            document.getElementById("nb_eleve").innerHTML=parseInt(document.getElementById("nb_eleve").innerHTML)+1;
            
        });
        
        /*function get_responses(){
        li_bonne_rep = document.getElementById("numero_load").innerHTML.split(",");
        for (element in li_bonne_rep){
            li_bonne_rep[element] = li_bonne_rep[element].replace(/\D/g,'');
        }
        return li_bonne_rep;
        }*/

        function suivant(){
            socket.emit('questionSuivante', {'id_seq':id_seq, 'id_q':id_q});
        }
        function rep_direct(){
            for (element in liste_rep_eleve){
                console.log("rep_num_"+element)
                console.log((liste_rep_eleve[element]/nb_rep_totale)*100+"%")
                console.log(document.getElementById("rep_num_"+element).style.width)
                    document.getElementById("rep_num_"+element).style.width=(liste_rep_eleve[element]/nb_rep_totale)*100+"%";
                }
        }
        function stop_rep(){
            rep_bloquer=true;
            console.log("stop_rep")
            socket.emit('stop_rep');
        }
        function correction(){
            //enlever l'attribut hidden de la correction
            if((document.getElementsByClassName('REP'))[0].style.display === 'inline-block'){
                let elements1 = document.getElementsByClassName('REP');
                for (element of elements1){
                    element.setAttribute('style', 'display: none;');
                }
                let elements2 = document.getElementsByClassName('BREP');
                for (element of elements2){
                    element.setAttribute('style', 'display: inline-block;');
                }
                let elements3 = document.getElementsByClassName('MREP');
                for (element of elements3){
                    element.setAttribute('style', 'display: inline-block;');
                }
            }
            else{
                let elements1 = document.getElementsByClassName('REP');
                for (element of elements1){
                    element.setAttribute('style', 'display: inline-block;');
                }
                let elements2 = document.getElementsByClassName('BREP');
                for (element of elements2){
                    element.setAttribute('style', 'display: none;');
                }
                let elements3 = document.getElementsByClassName('MREP');
                for (element of elements3){
                    element.setAttribute('style', 'display: none;');
                }
            }
        }
        function ouvrir_seq(){
            socket.emit('ouvrir_seq', '{{id_seq|safe}}')
        }
        function quitter(){
            socket.emit('fermer_seq');
        }
    </script>
    <script>hljs.initHighlightingOnLoad()
    window.addEventListener('load',() =>{
        socket.emit('', "{{id_seq| safe}}")
        let codeBlock=document.getElementsByTagName('code');
        for(let i in codeBlock)
        {
            hljs.highlightBlock(codeBlock[i]);
        }
    });
    </script>
</head>
<body onload="ouvrir_seq()">

    <div class="nom">QuizTio</div>
    <ul class="menu">
        <li>
        {{Username}}
            <ul class="sousMenu">
                <li><a href="../">Accueil</a></li>
                <li><a href="profil">Profil</a></li>
                <li><a href="../BDD">Liste de vos questions</a></li>
                <li><a href="../creationQuestion">Créer une question</a></li>
                <li><a href="../creationFeuille">Créer une feuille d'exercices</a></li>
                <li><a href="../deco">Se déconnecter</a></li>
            </ul>
        </li>
    </ul>

    <div class="question"><br>
        <form>
            <input type="button" onclick="suivant()" value="Suivant"><span id="nb_eleve">0</span>
            <h1>Sequence : {{id_seq|safe}} <br> Question : {{dictionnaire["ID"]|safe}}</h1>
            <b>
                <div id="enonce">
            {{dictionnaire["Question"]| safe}}
            </div></b><br><br>

            <div class="reponses" id="reponses">
            <div id="champs_reponses">
            {% for rep in dictionnaire["REP"]: %}
                <span id="rep_num_{{loop.index}}" class='REP' style="display: inline-block;">{{rep| safe}}</span>
                {%if rep in dictionnaire["BREP"]%}
                    <span id="rep_num_{{loop.index}}" class='BREP' hidden="true" style="display: none;">{{rep| safe}}</span>  
                {% else %}
                    <span id="rep_num_{{loop.index}}" class='MREP' hidden="true" style="display:none;">{{rep| safe}}</span> 
                {%endif%}<br>
            {%endfor%}</div>
            <input type="button" onclick="rep_direct()" value="réponses en direct">
            <input type="button" onclick="stop_rep()" value="stop réponses">
            <input type="button" onclick="correction()" value="affichage correction">
            <input type="button" onclick="quitter()" value="Quitter">
        </form>
    </div>
    

</div><!--
<div id="bot">
<a href="../">Acceuil</a>
<a href="../register">S'enregistrer</a>
<a href="../login">Se connecter</a>
<a href="../creationQuestion">Créer une question</a>
<a href="../BDD">Liste de vos questions</a>
<a href="../creationFeuille">Créer une feuille d'exercices</a>
</div>-->
</body>

</html>