<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/question.css" />
    <script src="../static/mermaid.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/atom-one-dark.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"></script>
    <script src="../static/load-mathjax.js" async></script>
    <title>QuizTio</title>
    <script src="../static/socket.io.min.js"></script>
    <script>
        var num=0
        const socket=io()
        reponse=[]
        qcm=true
        socket.on('bloquer_rep', ()=>{
            console.log("bloquer rep recu")
            document.getElementById("outon").hidden = true
            document.getElementById("desac").hidden = false
        });

        socket.on('nouvelle_q', (question) =>{
            num = 0
            console.log(question.question["Question"])
            console.log(Object.keys(question))
            
            document.getElementById("enonce").innerHTML=question.question["Question"]
            document.getElementById("champs_reponses").innerHTML = ""
            qcm = true
            if(question.question["REP"].length == 0){
                qcm=false
            }
            if(qcm){
            for (element of question.question["REP"]){
                document.getElementById("champs_reponses").innerHTML = document.getElementById("champs_reponses").innerHTML +
                    "<span class='REP' style='display: inline-block;'> <input type='checkbox' id='"+num +"' name='"+num +"'>"+element+"</span><br>" //
                num=num+1
            }}
            else{
                document.getElementById("champs_reponses").innerHTML = document.getElementById("champs_reponses").innerHTML + "<input type=text id='c_rep'>"
            }
            console.log(question)
            console.log('ok')
            document.getElementById("outon").hidden = false
            document.getElementById("env").hidden = true
            document.getElementById("desac").hidden = true
        });

        socket.on('fin_seq', ()=>{
            console.log("fin seq annoncée par le prof")
            quitter();
        });

        /*function get_responses(){
        li_bonne_rep = document.getElementById("numero_load").innerHTML.split(",");
        for (element in li_bonne_rep){
            li_bonne_rep[element] = li_bonne_rep[element].replace(/\D/g,'');
        }
        return li_bonne_rep;
        }*/


        function changeState(REP){
            if (REP in reponse){
                index=reponse.indexOf(REP);
                reponse.splice(index,1);
            }
            else{
                reponse.push(REP);
            }
        }
        function envoi_rep(){
            console.log("envoi rep")
            if(qcm){
            li_Brep_indices=[]
            for(i=0;i<num;i++){
                checkbox = document.getElementById(i);
                console.log(checkbox)
                if(checkbox.checked){
                    li_Brep_indices.push(i)
                }
            }
            document.getElementById("outon").hidden = true
            document.getElementById("env").hidden = false
            console.log("envoi de : ", li_Brep_indices)
            socket.emit('eleve_reponse_q', {'id_seq':"{{id_seq| safe}}"},li_Brep_indices);}
            else{
                socket.emit('eleve_reponse_q', {'id_seq':"{{id_seq| safe}}"},getElementById("c_rep").value);
            }
        }
        function quitter(){
            socket.emit('eleve_quitte',"{{id_seq| safe}}");
            window.location.replace("../")
        }
        function acceder(){
            socket.emit('acceder_q', {'id_seq':"{{id_seq| safe}}"})
        }
    </script>
    <script>hljs.initHighlightingOnLoad()
    window.addEventListener('load',() =>{
        let codeBlock=document.getElementsByTagName('code');
        for(let i in codeBlock)
        {
            hljs.highlightBlock(codeBlock[i]);
        }
    });

    </script>
</head>
<body onload="acceder()">
    <div class="nom">QuizTio</div>
    <ul class="menu">
        <li>
        {{Username}}
            <ul class="sousMenu">
                <li><a href="../">Accueil</a></li>
                <li><a href="../profil">Profil</a></li>
                <li><a href="../deco">Se déconnecter</a></li>
            </ul>
        </li>
    </ul>

    <div class="question"><br>
        <form action = "" method = "post">
            <h2>Question :</h2>
            <b>
            <div id="enonce">

            </div></b><br><br>

            <div class="reponses" id="reponses">
            <div id="champs_reponses">
            </div>
            <input type="button" id="outon" name="outon" onclick="envoi_rep()" value="envoi réponse">
            <label id="desac" hidden="true">Réponses désactivées</label>
            <label id="env" hidden="true">Réponse envoyée</label>
            <input type="button" onclick="quitter()" value="Quitter">
        </form>
    </div>
    

</div><!--
<div id="bot">
<a href="../">Acceuil</a>
<a href="../register">S'enregistrer</a>
<a href="../login">Se connecter</a>
<a href="../creationQuestion">Créer une question</a>
<a href="../BDD">Liste de vos questions</a>
<a href="../creationFeuille">Créer une feuille d'exercices</a>
</div>-->
</body>

</html>