<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/question.css" />
    <script src="../static/mermaid.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/atom-one-dark.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"></script>
    <script src="../static/load-mathjax.js" async></script>
    <title>QuizTio</title>
    <script src="../static/socket.io.min.js"></script>
    <script>
        const socket=io()
        reponse=[]

        socket.on('bloquer_rep', ()=>{
            document.getElementById("outon").setAttribute(hidden,true)
            document.getElementById("desac").setAttribute(hidden,false)
        });

        socket.on('nouvelle_q', (question) =>{
            console.log(question.question["Question"])
            console.log(Object.keys(question))
            
            document.getElementById("enonce").innerHTML=question.question["Question"]
            document.getElementById("champs_reponses").innerHTML = ""
            for (element of question.question["REP"]){
                document.getElementById("champs_reponses").innerHTML = document.getElementById("champs_reponses").innerHTML +
                    "<span class='REP' style='display: inline-block;'>"+element+"</span>"
                    
                if(question.question["BREP"].includes(element)){
                    document.getElementById("champs_reponses").innerHTML = document.getElementById("champs_reponses").innerHTML +
                    "<div class='BREP' hidden='true' style='display: none;'>"+element+"</div><br>"
                }
                else{
                    document.getElementById("champs_reponses").innerHTML = document.getElementById("champs_reponses").innerHTML +
                    "<div class='MREP' hidden='true' style='display: none;'>"+element+"</div><br>"
                }
            }
            
            console.log(question)
            console.log('ok')
        });

        function get_responses(){
        li_bonne_rep = document.getElementById("numero_load").innerHTML.split(",");
        for (element in li_bonne_rep){
            li_bonne_rep[element] = li_bonne_rep[element].replace(/\D/g,'');
        }
        return li_bonne_rep;
        }


        function changeState(REP){
            if (REP in reponse){
                index=reponse.indexOf(REP);
                reponse.splice(index,1);
            }
            else{
                reponse.push(REP);
            }
        }
        function envoi_rep(){
            socket.emit('eleve_reponse_q', {'id_seq':"{{id_seq| safe}}"},reponse);
        }
        function quitter(){
            socket.emit('quitter');
        }
    </script>
    <script>hljs.initHighlightingOnLoad()
    window.addEventListener('load',() =>{
        let codeBlock=document.getElementsByTagName('code');
        for(let i in codeBlock)
        {
            hljs.highlightBlock(codeBlock[i]);
        }
    });
    </script>
</head>
<body>
    <div class="nom">QuizTio</div>
    <ul class="menu">
        <li>
        {{Username}}
            <ul class="sousMenu">
                <li><a href="../">Accueil</a></li>
                <li><a href="profil">Profil</a></li>
                <li><a href="../deco">Se déconnecter</a></li>
            </ul>
        </li>
    </ul>

    <div class="question"><br>
        <form action = "" method = "post">
            <h1>Question :</h1>
            <b>
            {{dictionnaire["Question"]| safe}}
            </b><br><br>
            <div class="reponses">
            {% for rep in dictionnaire["REP"]: %}
                <input type="checkbox" id="'+{{loop.index0}}+'" name="'+{{loop.index0}}+'" onclick="changeState('{{rep| safe}}')"> <span class='REP'>{{rep| safe}}</span>
            {%endfor%}
            <input type="button" id="outon" onclick="envoi_rep()" value="envoi réponse" hidden="false">
            <label id="desac" hidden="true">Réponses désactivées</label>
            <input type="button" onclick="quitter()" value="Quitter">
        </form>
    </div>
    

</div><!--
<div id="bot">
<a href="../">Acceuil</a>
<a href="../register">S'enregistrer</a>
<a href="../login">Se connecter</a>
<a href="../creationQuestion">Créer une question</a>
<a href="../BDD">Liste de vos questions</a>
<a href="../creationFeuille">Créer une feuille d'exercices</a>
</div>-->
</body>

</html>