<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../static/main.css">
  <title>QuizTio</title>
  <script>

  </script>
    <script src="../static/mermaid.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/atom-one-dark.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"></script>
    <script src="../static/load-mathjax.js" async></script>
    <script>hljs.initHighlightingOnLoad()
      window.addEventListener('load',() =>{
        let codeBlock=document.getElementsByTagName('code');
        for(let i in codeBlock)
        {
          hljs.highlightBlock(codeBlock[i]);
        }
       });
     </script>
</head>
<body>
  <div class="nom">QuizTio</div>
<div id="mid">
  <tr>
    <td class="eti">
      {% for eti in dictionnaire["ET"]: %}{{eti+" "}}{%endfor%}
    </td><br><br>
    <td>{{dictionnaire["Question"]| safe}}</td><br><br><br><br>
    <td>{% for rep in dictionnaire["REP"]: %}
          {%if rep in dictionnaire["BREP"]%}
            <span class='BREP'>{{rep| safe}}</span> <!---Inline CSS sur une balise style="border-radius: 25px; background: #2cb809; padding: 20px; width: 200px; height: 150px; margin: 10px" --> 
          {% else %}
            <span class='MREP'>{{rep| safe}}</span> <!---style="border-radius: 25px; background: #d80b0b; padding: 20px; width: 200px; height: 150px; margin: 10px" -->
          {%endif%}
        {%endfor%}</td><br>
        
        
  </tr>

</div>
</body>

</html>